@model WebApplication15.Models.LoginPageViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body>

  <div class="wrapper">
  <form asp-action="LoginPage" asp-controller="Login" method="post">
  <h1>@_localization.GetKey("Giriş").Value</h1>
  <div class="input-box">
    <input asp-for="UserName" type="text" placeholder="@_localization.GetKey("Kullanıcı adı").Value" required>
    <i class='bx bxs-user'></i>
  </div>
  <div class="input-box">
    <input asp-for="PassWord" type="password" placeholder="@_localization.GetKey("Şifre").Value" required>
    <i class='bx bxs-lock-alt' ></i>
  </div>
 
            @if (!string.IsNullOrEmpty(ViewData["Error2"] as string))
            {
              <p class="error">@ViewData["Error2"]</p>
            }
  <button type="submit" class="btn">@_localization.GetKey("Giriş").Value</button>
   <div class="register-link">
        <p><a asp-controller="Login" asp-action="Add"> @_localization.GetKey("Hesabınız yok mu ?").Value</a></p>
   </div>
     <div class="register-link">
        <p><a asp-controller="Home" asp-action="Index"> @_localization.GetKey("Anasayfaya dön").Value</a></p>
   </div>
   <div class="register-link">
        <p><a asp-controller="Login" asp-action="AdminPage"> @_localization.GetKey("Admin misiniz ?").Value</a></p>
   </div>
</form>
        
  </div>
 
</body>
</html>